/*body*/
.body{
	text-align: center;
}

/*navigation bar*/
.navbar {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navbar li {
	display: inline-block;
	transition: 0.5s ease;
}

/*navigation links*/
.navbar ul li a {
	text-decoration: none;
}

a:hover {
background-color: #57B053;
font-size: 150%;
}

/*buttons*/

.morenews {
	display: table;
	margin: 0 auto;
}

.button1 {
	border: 0;
	background: #a3a3c2;
	box-shadow: none;
	border-radius: 0px;
}

.button2 {
	border:0;
	background-color: #d1b3ff;
	box-shadow: none;
}

.button3 {
	border:0;
	text-shadow: -1px 1px;
	background-color:  #9999ff;
}

.button1:hover {
	background-color: #8585ad;
	color: white;
}

.button2:hover {
	background-color: #944dff;
	color: white;
}

.button3:hover {
	background-color: #3333ff;
	color: white;
}